/* modal */

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;

    margin-top: 0;
    margin-bottom: 0;

    align-items: center;

    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;

    border-top: 1px solid var(--border-color);
    padding: 1rem;
}

.modal-header .btn-close {
    margin-left: auto
}

.modal-frame {
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {


    margin: auto;
    width: 100%;
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 35rem;
    border-radius: 0.5em;
}


.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: 0.5;
  }
  .btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }
  .btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
  }
  .btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
  }
  
  .btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
