.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    background-color: lavender;
  }
  
  .navbar-logo {
    font-size: 1.25em;
    text-decoration: none;
    color: #000;
  }
  
  .navbar-body {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  
    display: flex!important;
    flex-basis: auto;
    justify-content: center!important;
  }
  
  .navbar-nav {
    display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  .nav-link {
    padding: 0.5em;
    display: block;
  }